*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: aliceblue;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right bottom, rgb(37, 35, 35),#383737);
}
.container{
    padding: 3%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    width: 95%;
}
.title{
    text-align: center;
    color: aliceblue;
    letter-spacing: 2px;
}
.form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0px;
    gap: 10px;
}

.inpUserValue{
    border: 1px solid;
    padding: 10px 8px;
    font-size: 17px;
    outline-width: 0;
    border: 1px solid #6b90e4;
    border-radius: 20px;
    background-color: #383737;
    color: #f5f5f5;
}

.btns{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.sub,.delAll{
    padding: 10px 20px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: burlywood;
    background-color: black;
    font-weight: 600;
}

.sub{
    font-weight: 700;
}

.showResult{
    margin-top: 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.parentBox{
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0px 10px 20px rgba(43, 72, 86, 0.3);
    padding: 10px 8px;
    width: min(100%,743px);
    margin-top: 30px;
}
.inputBtn{
    padding: 10px 5px;
    border: 1px solid #8EC3B0;
    color: rgb(255, 255, 255);
    background-color: rgb(113 0 0)
}
.inputBtn[disabled="true"]{
    color: burlywood;
    background-color: black;
}
.edit,.done,.delete{
    width: 80%;
    padding: 10px 5px;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    align-self: center;
}

.edit{
    background-color: #6b90e4;
    color: aliceblue
}
.delete{
    background-color: red;
    color: #fff;
}
.done{
    background-color: #f0dd0a;
}

.parentBox{
    margin-top: 20px;
}
.parentBox p{
    font-size: 14px;
}